    <div class="row">
        <div class="col-md-3">
            <span class="hipster img-fluid rounded"></span>
        </div>
        <div class="col-md-9">
            <h1 class="display-4">Welcome, To Société Générale</h1>
           

            <div [ngSwitch]="isAuthenticated()">
               
                <div class="alert alert-success" *ngSwitchCase="true">
                    <span *ngIf="account"
                       > You are logged in as user <b>"{{account.firstName}} {{account.lastName}}"</b>. </span>

                       <br>
                       <span *ngIf="account"
                       > Your Bank Account Balance <b>"{{compte.amount}}"</b>. </span> 
                </div>

                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span>If you want to </span>
                    <a class="alert-link" (click)="login()">sign in</a><span>
                        <!--, you can try the default accounts:<br/> 
                         user (login="jpierre" and password="user") <br/>- User (login="sqli" and password="user"). -->
                    </span>
                </div>
                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span>You don't have an account yet?</span>
                    <a class="alert-link" routerLink="register">Register a new account</a>
                </div>
                <br><br>
             <!--    <div>
                    Montant de retrait <input type="text" name="">
                    <button type="submit">Valider</button>

                    <button mat-raised-button color="primary" (click)="chercher()">Recherche</button> 
                </div> -->


      <div *ngSwitchCase="true">
                      <div class="form-group">
                        <span *ngIf="operationFlag"> Withdraw successfully completed, your  new Balance is : <b>{{compte.amount}}</b>. </span> 
                        <br>
                        <label class="control-label">Amount to withdraw:</label> 
                        <input class="form-control" type="text" [(ngModel)]="updateamount" >
                      </div>
                      <button class="btn btn-primary" (click)="save()"> Submit</button>
                </div>
              
            </div>
      
        </div>
    </div>
